@page
@model StudentAdvisor.Pages_Advisor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorsNote[0].Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorsNote[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorsNote[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdvisorsNote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdvisorsNoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdvisorsNoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdvisorsNoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
